/* div{
    border: 1px solid red;
} */
.container{
   /* margin-top: 10px;
    width: 100%;
     height: 20vh;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;*/

}


.div1{
    flex-basis: 300px;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: stretch;
    opacity: 40%;

}

a{
    text-decoration: none;
}
a:visited {
    color: black;
}
a:link{
    color:black;
}
a:active{
    color: black;
}
a:hover{
    color: #ffab9cff;
}