
a{
    text-decoration: none;
}
.header{   
    background-color: #ffab9cff;
}

.color-navbar{
    color: black;
}



/* .menu, .menu-links{
    vertical-align: top;
    border: 1px solid blanchedalmond;
    width: 45%;
    height: 90px;
    display: inline-block;

}

.menu-links ul li{
    display: inline-block;
} */